body {
    background-color: gainsboro;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    height: auto;
    width: 60px;
}
#ytube {
    width: 130px;
    height: 60px;
}
#search {
    width: 25px;
    height: 25px;
}
#unmute {
    width: 40px;
    height: 30px;
    background-color: gainsboro;
    border-radius: 50%;
}
#video {
    width: 45px;
    height: 35px;
}
#bell {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#picture {
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.last-item {
    display: flex;
    gap: 20px;
}
p {
    border: 1px solid black;
}